version: '3.8'

services:
  bot:
    build: .
    container_name: protennis-bot
    restart: always
    volumes:
      - ./data:/app/data
    environment:
      - TZ=Europe/Moscow
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

